h4.title Articles
=link_to 'add article', new_article_path, class: 'btn btn-primary register'
=link_to 'back to dictionary', dictionaries_path, class: 'btn btn-primary register'
=link_to 'back to article', articles_path, class: 'btn btn-primary register'

.container
    =@article.word