@import "bootstrap";

h4.title{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 50px;
}

.register {
	margin-bottom: 20px;
	margin-left: 74px;
}
.container {
	text-align: center;
}
.label {
	margin-left: 10px;
	margin-top: 5px;
}

#dictionary_detail {
	margin-top: 30px;
}

ul.article {
	border: 1px solid black;
	position: relative;
}
article.id {
	color: red;
}
/*article button*/
.button {
	position: absolute;
	right: 0;
	bottom: 0;
	color: red;
}

.button_readmore {
	position: absolute;
	right: 100px;
	bottom: 0;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: blue;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
a:hover::after {
  transform: scale(1, 1);
}
.user {
	float: left;
}
.message {
	color: red;
}

.request {
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}
.request:hover {
	background-color: #77c9f8;
}

body.top-image {
  background: image-url("newspaper.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;

}
.top-image {
	background: image-url("newspaper.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}
.top-explanation {
	color: white;
	text-line: 10px;
	padding-top: 100px;
}
.top-explanation2 {
	color: white;
	text-line: 10px;
	padding-top: 10px;
}
.enter-button {
	background-color: #533B1C;
	margin: auto;
	margin-top: 100px;
	width: 100px;
	border-radius: 10px;
	cursor: pointer;
	padding: 5px;
	color: white;
	transition: 0.5s;
}
.enter-button:hover {
	opacity: 0.5;
}
.enter-button a {
	text-decolation: none;
}
 #session_email {
   width: 500px;
   margin: auto;
 }
 #session_password {
 width: 500px;
 margin: auto;
 }
 #session_name {
 width: 500px;
 margin: auto;
 }
 #password_confirm {
 width: 500px;
 margin: auto;
 }

