@import "bootstrap";

h4.title{
	text-align: center;
	padding-top: 20px;
}

.register {
	margin-bottom: 20px;
	margin-left: 74px;
}
.container {
	text-align: center;
}
.label {
	margin-left: 10px;
	margin-top: 5px;
}

#dictionary_detail {
	margin-top: 30px;
}
